cycler==0.10.0
future==0.18.2
kiwisolver==1.2.0
matplotlib==3.2.1
neat-python==0.92
numpy~=1.24.2
Pillow==9.0.1
pyglet==1.4.10
pyparsing==2.4.7
python-dateutil==2.8.1
Shapely~=2.0.1
six==1.14.0
torch~=1.13.1
torchvision==0.14.1
