cycler==0.10.0
future==0.18.2
kiwisolver==1.2.0
matplotlib==3.2.1
neat-python==0.92
numpy==1.22.0
Pillow==9.0.1
pyglet==1.4.10
pyparsing==2.4.7
python-dateutil==2.8.1
Shapely==1.7.0
six==1.14.0
torch==1.5.0
torchvision==0.6.0
